.nav{
    display: flex;
    height: 10%;
    border-bottom: 2px solid rgb(0, 0, 0); 
    min-height: 60px;
    justify-content: center;
    align-items: center;
    position: relative;
}
.nav h1 {
         
      
        font-style: italic; /* Aplica el estilo de letra cursiva */
        font-family: "Times New Roman", Times, serif; /* cambia la fuente por la que desees */
        font-size: 28px; /* cambia el tamaño por el que desees */
        color: #333; /* cambia el color por el que desees */
        text-align: center;
      
}